<!DOCTYPE html>
<html>
    <head>
        <title>Colours</title>
        <link rel="stylesheet" href="static/style.css">
    </head>
    <body>
        <h1>Colours</h1>
        <table>
            <tr>
                <th>Red</th>
                <th>Green</th>
                <th>Blue</th>
            </tr>
            <tr>
                <td class="R"></td>
                <td class="G"></td>
                <td class="B"></td>
            </tr>
        </table>
    </body>
</html>