<!DOCTYPE html>
<html>
    <head>
        <title>Numbers</title>
    </head>
    <body>
        <table border="1" style="text-align: center;">
            <tr>
                <th>n</th>
                <th>factorial(n)</th>
                <th>fib(n)</th>
            </tr>
            {% for row in data %}
            <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>